.App {}

.App-header {
  background-color: #34383e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-button {
  background-color: #34383e;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border-color: goldenrod;
  color: white;
}

/*Album styles*/

.app-container{
  width: 220px;
  height: 350px;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}

.image-logo-container {
  position:absolute;
  background-color: #34383e;
  width: 200px;
  height: 216px;
  /*padding: 10px 10px 5px 10px;*/

}
.image {
  height: 200px;
  width: 200px;

}

.logo {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  bottom: 30px;
}

.title-container {
  width: 200px;
  height: 60px;
  padding-top: 10px;
  background-color: #34383e;

}

.title1 {
  color: white;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 15px;
  background-color: #34383e;
  text-overflow: ellipsis;

}
.description1 {
  color : #8d8d8d;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 12px;
  background-color: #34383e;
}

/*Album List styles*/

.list-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #34383e;
}
